@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  /* margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  border-color: #64ffda;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



.cloud {
  clip-path: path("M 80 150 C 80 70, 180 30, 300 40 C 550 60, 400 350, 280 350 C 220 350, 100 300, 80 150 Z");
  transform: translateX(-50px) scale(1);
}

/* .cloud-small {
  clip-path: path("M 120 200 C 120 90, 250 40, 400 50 C 750 80, 500 500, 370 500 C 300 500, 135 400, 120 195  Z");
} */


@keyframes slide-right{
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(200px);
  }

}

/* @keyframes slideIn{
  0% { 
    opacity: 0;
    transform: translateY(90px)
  }
  100% { 
    opacity: 1;
    transform: translateY(0)
  }
    
} */



.slide-to-right{
  
  animation: slide-right 1s linear;
  animation-timeline: scroll();
}

  
.timeline::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, #3b82f6 50%, transparent 50%);
  background-size: 2px 20px;
}




.dot {
  position: absolute;
  left: -80px;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #3b82f6;
  border: 2px solid #1f2937;
  box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.2);
}
